.container{
    width:50vw;
    height:50vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.gradient{
    width:50vw;
    height:50vh;
    background-color:#B7B9B8;
    background:linear-gradient(
        186deg, 
        #B7B9B8 45%,
        #C8BBB2 50%,
        #DCBA9F 60%,
        #E3764C 85%,
        #E05B38 95%);
}