body{
    margin:auto;
    padding:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:100vh;
}
.container{
    width:50vw;
    height:50vh;

}
.gradient{
    width:50vw;
    height:50vh;
    background:#B7B9B8;
    background:linear-gradient(
        186deg, 
        #B7B9B8 45%,
        #C8BBB2 50%,
        #DCBA9F 65%,
        #EC9965 80%,
        #E3764C 90%,
        #E05B38 95%);
}